/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container .main {
    display: inline-block;
    padding:15px 25px;
    margin-inline: 10px;
}
.main input{
    width:170px;
    height:30px;
}
.container .text {
    display: inline-block;
    padding:15px 0;
    margin-inline: 38px;
}
.text input{
    width:170px;
    height:30px;
}
.test p{
    position: relative;
    left:40px;
    top:10px;
}
.test button{
    position: relative;
    left:20%;
    bottom:10px;
    border: none;
    background-color:blue;
    color: rgb(249, 248, 248);
    padding: 5px 7px;
    border-radius: 5px;
    width:5%;
}
table, th, td {
    border:1px solid black;
  }
  button{
    position: relative;
    border: none;
    background-color:blue;
    color: rgb(249, 248, 248);
    padding: 5px 7px;
    border-radius: 5px;
    width:5%;
} */




.card h6{
    font-family: "Proxima Nova", system-ui, sans-serif;
    font-size: 25px;
}
table{
    width:100%;
    margin-top: 2px;
}
table thead tr th{
    background-color: lightskyblue;
}

.text{
    color:rgb(0, 0, 0);
    background-color: rgb(223, 220, 220);
    padding:5px 10px;
    border-radius: 5px;
    width: 40%;
    height:35px;
    position: relative;
    left:31%;
}
.text::before{
    content: '';
    width:0;
    height:0;
    border-left:9px solid transparent ;
    border-right:9px solid transparent ;
    border-bottom:9px solid #fe9000  ;
    position: absolute;
    bottom:35px;

}
input.ng-invalid.ng-touched{
    border: 1px solid red;
}
select.ng-invalid.ng-touched{
    border: 1px solid red;
}
.admin{
    width:10%;
    height:50px;
    background-color: rgb(0, 0, 0);
    color:rgb(44, 207, 207);
    margin: 20px;
    border-radius: 15px;
}

#btn1{
    width:45%;
    height:40px;
    background-color:green;
    color:rgb(232, 232, 232);
}
#btn2{
    width:50%;
    height:40px;
    background-color:rgb(254, 3, 3);
    color:rgb(232, 232, 232);
} 